*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:#fff;
}
footer {
    background-color: darkslategrey;

}
.row{
    display: flex;
    justify-content: center;
}
.card{
    max-width: 15rem;
    padding: 0;
    margin: 15px;
    border:none !important
}

section img {
    width: 250px;
    height:250px;
}
.navbar-logo img {
    max-width: 250px;
    min-height: 100px;
}